img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 150px;
    padding: 0;
}
#myHeader {
      font-family: 'Courier New', Courier, monospace;
      color: #13325b;
      text-align: center;
    }

.teacher {
    font-family: 'Courier New', Courier, monospace;
      color: #13325b;
      text-align: left
}

table,
    th,
    td {
      text-align: center;
      border: 1px solid black;
      border-collapse: collapse;
      border-spacing: 5px;
      padding: 5px;
    }

caption {
    
      color: whitesmoke;
      background-color: #13325b;
      font-size: 30px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      padding: px;

    }

 .content {
      font-family: 'Courier New', Courier, monospace;
      font-size: 150%;
      color: black;
      text-align: center;
      padding: 5px;
      margin: 5px;
    }

    .pass {
      color: #13325b;
      text-align: center;
      padding: 5px;
      margin: 5px;
    }

    .fail {
      color: red;
      text-align: center;
      padding: 5x;
      margin: 5px;
    }

     tbody tr:nth-child(even) {
      background-color: #d6e9e2;
    }