* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  height: 100vh;
  background: white;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 80%;
  height: fit-content;
  left: 100px;
}

.swiper-slide img {
  width: 100%;
}

#slide2, #slide3, #slide5, #slide6{

  margin-top: 120px;

}

#slide4 {
  margin-top: 40px;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.container:hover a {
  display: block;
}
